<style>
    div:hover #logo {
        cursor: pointer;
    }

    div:hover #createAuction {
        cursor: pointer;
    }
    div:hover #createMyAuctionForm {
        cursor: pointer;
    }
    div:hover #createWatchlistForm {
        cursor: pointer;
    }
    div:hover #createHelpRequestsForm {
        cursor: pointer;
    }
</style>

<nav class="navbar navbar-expand-lg bg-primary fixed-top">
    <div class="container-fluid">
        <form action="/home" method="GET" id="homeForm">
            <div class="" id="logo" onclick="document.getElementById('homeForm').submit();">
                <i class="fa-solid fa-cart-shopping fa-xl" style="color: #fff;"></i>
                <span style="color: #fff;" class="fs-4">BuyMe</span>
            </div>
        </form>
            <span>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">admin@buyme.com
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <form action="/logout" method="GET" id="logoutForm">
                                <div id="createAuction" onclick="document.getElementById('logoutForm').submit();">
                                    <a class="dropdown-item">Logout</a>
                                </div>
                            </form>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                    </ul>
                </div>
            </span>
        </div>
    </div>

</nav>