<style>
    div:hover #logo {
        cursor: pointer;
    }

    div:hover #createAuction {
        cursor: pointer;
    }
    div:hover #createMyAuctionForm {
        cursor: pointer;
    }
    div:hover #createWatchlistForm {
        cursor: pointer;
    }
    div:hover #createHelpRequestsForm {
        cursor: pointer;
    }
</style>

<nav class="navbar navbar-expand-lg bg-primary fixed-top">
    <div class="container-fluid">
        <form action="/home" method="GET" id="homeForm">
            <div class="" id="logo" onclick="document.getElementById('homeForm').submit();">
                <i class="fa-solid fa-cart-shopping fa-xl" style="color: #fff;"></i>
                <span style="color: #fff;" class="fs-4">BuyMe</span>
            </div>
        </form>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" style="margin-left: 25px;">
                    <form action="/auctions/new" method="GET" id="deleteIllegalAuction">
                        <div id="deleteAuction" onclick="document.getElementById('deleteIllegalAuction').submit();">
                            <a class="nav-link" style="color: #fff;">Delete Illegal Auction</a>
                        </div>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="/auctions/myAuctions" method="GET" id="resetPasswordForm">
                        <div id="resetPassword" onclick="document.getElementById('resetPasswordForm').submit();">
                            <a class="nav-link" style="color: #fff;">Reset User Credentials</a>
                        </div>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="/watchlist" method="GET" id="deleteIllegalBidForm">
                        <div id="deleteIllegalBid" onclick="document.getElementById('deleteIllegalBidForm').submit();">
                            <a class="nav-link" style="color: #fff;">Delete Illegal Bid</a>
                        </div>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="/questions/myQuestions" method="GET" id="answerQueriesForm">
                        <div id="answerQueries" onclick="document.getElementById('answerQueriesForm').submit();">
                            <a class="nav-link" style="color: #fff;">Answer Queries</a>
                        </div>
                    </form>
                </li>
            </ul>
            <span>
                <div class="btn-group">
                    
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <form action="/logout" method="GET" id="logoutForm">
                                <div id="createAuction" onclick="document.getElementById('logoutForm').submit();">
                                    <a class="dropdown-item">Logout</a>
                                </div>
                            </form>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <form action="/deleteUser" method="POST" id="deleteUserForm">
                                <div id="createAuction" onclick="document.getElementById('deleteUserForm').submit();">
                                    <a class="dropdown-item"><i class="fa-solid fa-trash" style="padding-right: 5px;"></i>Delete Account</a>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </span>
        </div>
    </div>

</nav>