<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <form action="/items/addItem" enctype="multipart/form-data" method="POST" name="upload_form">
      color: <input type = "text" name="color"><br>
      brand: <input type = "text" name="brand"><br>
      model: <input type = "text" name="model"><br>
      type: <input type = "text" name="type"><br>
      category: <input type = "text" name="category"><br>
      upload files: <input type="file" name="multi-files" accept='image/*' multiple><br>
      <input type="submit" value="Upload">
    </form>  
  </body>
</html>