<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  
  <style>
    .container_carousel {
      float: right;
      float: top;
      height: 600px;
      width: 600px;   
    }
    .table{
      width: 100%;
    }
  </style>
  <header><%- include('../partials/header'); %></header>
  <body>
    <div class="container pt-2 mt-2">
        <div class="container pt-5 mt-5">
            <center><h3>Inbox</h3><p></p>
        <div class="border border-3 border-dark p-3 mb-2 w-50">
        <form action="" method="" id="">
            <h5>Question: Text...</h5>
            <div class="form-floating mb-1">
                <input type="text" class="form-control" id="answer" placeholder="Answer"
                    name="answer" required>
                <label for="floatingEmail">Enter Answer</label>
            </div>
            <div class="d-flex justify-content-lg-center pt-3">
                <button type="button" class="btn btn-primary w-25" >Post Answer</button>
            </div>
        </form>
        </div>
        <p></p>
        <div class="border border-3 border-dark p-3 mb-2 w-52">
            <form action="" method="" id="">
                <h5>Question: Text...</h5>
                <div class="form-floating mb-1">
                    <input type="text" class="form-control" id="answer" placeholder="Answer"
                        name="answer" required>
                    <label for="floatingEmail">Enter Answer</label>
                </div>
                <div class="d-flex justify-content-lg-center pt-3">
                    <button type="button" class="btn btn-primary w-25" >Post Answer</button>
                </div>
            </form>
            </div>
            <p></p>
            <div class="border border-3 border-dark p-3 mb-2 w-50">
                <form action="" method="" id="">
                    <h5>Question: Text...</h5>
                    <div class="form-floating mb-1">
                        <input type="text" class="form-control" id="answer" placeholder="Answer"
                            name="answer" required>
                        <label for="floatingEmail">Enter Answer</label>
                    </div>
                    <div class="d-flex justify-content-lg-center pt-3">
                        <button type="button" class="btn btn-primary w-25" >Post Answer</button>
                    </div>
                </form>
                </div>
                <p></p>
            <div class="border border-3 border-dark p-3 mb-2 w-50">
            <form action="" method="" id="">
                <h5>Question: Text...</h5>
                <div class="form-floating mb-1">
                    <input type="text" class="form-control" id="answer" placeholder="Answer"
                        name="answer" required>
                    <label for="floatingEmail">Enter Answer</label>
                </div>
                <div class="d-flex justify-content-lg-center pt-3">
                    <button type="button" class="btn btn-primary w-25" >Post Answer</button>
                </div>
            </form>
            </div>
        </center>
        </div>
          </div>

  </body>

  <footer><%- include('../partials/footer'); %></footer>
</html>
