<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head'); %>
</head>
<head>
    <%- include('../partials/customerRepHeader'); %>
  </head>

<body>       
        
            <div class="container pt-4 mt-4">
                <center><h3>Manage Auctions</h3></center>
                <table class="table table-bordered">
                    <thead style="background-color: #0d6efd; color: white">
                        <tr>
                          <th scope="col">Auction Id</th>
                          <th scope="col">Auction owner email</th>
                          <th scope="col">Category: Model</th>
                          <th scope="col">Delete Button</th>
                        </tr>
                      </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>ysk33@gmail.com</td>
                            <td>Cap: Puma</td>
                            <td><button type="submit" class="btn btn-primary w-50">Delete Auction</button></td>
                            <!-- -------------------------------------------------- -->
                            <table class = 'table table-bordered'>
                                <thead style="background-color: #858b96; color: white">
                                    <tr>
                                      <th scope="col">Auction Id</th>
                                      <th scope="col">Bid Id</th>
                                      <th scope="col">Bidder email</th>
                                      <th scope="col">Delete Button</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>2</td>
                                        <td>Mark@gmail.com</td>
                                        <td><button type="submit" class="btn btn-secondary w-50">Delete Bid</button></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>2</td>
                                        <td>Mark@gmail.com</td>
                                        <td><button type="submit" class="btn btn-secondary w-50">Delete Bid</button></td>
                                    </tr>
                                  </tbody>
                            </table>
                        <!-- -------------------------------------------------- -->
                          </tr>
                    </tbody>
                </table>

                <center><p>**************************************</p></center>


                
                
            </div>
</body>
</html>