<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head'); %>
</head>

<header>
  <%- include('../partials/header'); %>
</header>

<>
    <div class="container pt-4 mt-4"></div>
    <div class="container pt-4 mt-4">
        <center><h3>Delete Illegal Bids</h3></center><p></p>
        <table class="table table-bordered" style="table-layout:fixed;">
            <thead class="thead" style="background-color: #0d6efd; color: white">
              <tr>
                <th scope="col">Auction ID</th>
                <th scope="col">Bid ID</th>
                <th scope="col">Email</th>
                <th scope="col"> Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td><button type="submit" class="btn btn-primary w-100">Delete Bid</button></td>

              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td><button type="submit" class="btn btn-primary w-100">Delete Bid</button></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td><button type="submit" class="btn btn-primary w-100">Delete Bid</button></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</body>
</html>