<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head'); %>
    <script>
        $(document).ready(function(){
            $.get("/auctions?isWinner=true", function(data, status){
                $.each(data, function (i){
                    var pTag = $('<p>').html(data[i].auctionId);
                    $('#target').append(pTag);
                });
            });
        });
    </script>
</head>

<header>
    <%- include('../partials/header'); %>
</header>

<body>
    <div class="d-flex justify-content-lg-center pt-5 mt-5">
        <div class="input-group w-75">
            <select class="form-select">
                <option selected>Choose Category</option>
                <option value="Category1">Category1</option>
                <option value="Category2">Category2</option>
                <option value="Category3">Category3</option>
            </select>
            <input type="text" class="form-control w-50" placeholder="Search.....">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
    <div class="d-flex justify-content-lg-center pt-5">
        <p class="fs-4">Top 5 Trending Auctions</p>
    </div>
    <div class="d-flex justify-content-lg-center pt-5">
        <div class="row row-cols-1 row-cols-md-3 g-4 w-75">
            <div class="col">
                <div class="card h-100">
                    <img src="/sunglasses.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/sunglasses.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional
                            content.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/sunglasses.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height action.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/sunglasses.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height action.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/sunglasses.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height action.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</html>