<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  
  <style>
    .container_carousel {
      float: right;
      float: top;
      height: 600px;
      width: 600px;   
    }
    .table{
      width: 100%;
    }

  </style>
  <header><%- include('../partials/header'); %></header>
  <body>
    <div class="container pt-2 mt-5">
      <div class="row mt-5">
        <div class="col pt-2 mt-5">
        <!--   <h1>Item: Item Category </h1>
          <h3>Brand: brand</h3>
          <h3>Color: color</h3>
          <h3>Current Price: price</h3>
          <h3>Closing Time: date @ at 12 am night</h3>
          <h3>Bid increment amount: $</h3>
           -->
          <table class="table  table-striped ">
            <tbody>
              <tr>
                <th scope="row">Item </th>
                <td>Item Category</td>
              </tr>
              <tr>
                <th scope="row">Color</th>
                <td>Color</td>
              </tr>
              <tr>
                <th scope="row">Brand</th>
                <td>Brand</td>
              </tr>
              <tr>
                <th scope="row">Current Price</th>
                <td>$</td>
              </tr>
              <tr>
                <th scope="row">Closing Date and Time</th>
                <td>03 August 2023 12:00 AM</td>
              </tr>
              <tr>
                <th scope="row">Bid Increment</th>
                <td>$</td>
              </tr>
            </tbody>
          </table>
          <div class="container mt-5 ">
          <button type="button" class="btn btn-primary ">Post bid</button>
        </div>
        </div>
        <div class="col">
          <div class="container_carousel pt-1 mt-5">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="uploads/dev.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="uploads/dev1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="uploads/dev.png" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="fa fa-angle-left fa-2x" style = "color:black" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="fa fa-angle-right fa-2x" style = "color:black" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            </div>
        </div>
      </div>
      </div>
  </body>

  <footer><%- include('../partials/footer'); %></footer>
</html>
