<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head'); %>
</head>


<body>
  <div class="container pt-2 mt-5"></div>
    <center><h3>FAQ Search Results</h3> </center><p></p>
    <table class="table table-bordered" style="table-layout:fixed;">
      <thead class="thead" style="background-color: #0d6efd; color: white">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Email</th>  
          <th scope="col">Question</th>
          <th scope="col">Answers</th>
        </tr>
      </thead>
      <tbody>
            <tr>
              <th scope="row">1</th>
              <td>dv390@gmail.com</td>
              <td>How many items can I add to the watchlist?</td>
              <td>You can add as many items as you wish, from all the available categories</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>arj96@gmail.com</td>
              <td>Can I use the watchlist to automatically bid on a product as soon as it is available?</td>
              <td>No, but you will receive a notification on the portal as soon as the item is available</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>dv390@gmail.com</td>
              <td>Can the watchlist send us personal notifications via email/text?</td>
              <td>No, as of now notifications are received only while logged into the portal</td>
            </tr>
      </tbody>
    </table>
  </div>


</body>
</html>