<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head'); %>
</head>


  <header>
    <%- include('../partials/header'); %>
  </header>
  <body>
  
       
      <div class="col">
        <div class="card">
          <img src=""class="card-img-top" alt="..."> 
          <div class="card-body"> 
            <h5 class="card-title">Card title</h5> 
            <p class="card-text"> Closing Date:</p>
          </div>
        </div>
      </div>';
      <div class="col" id="auctionid"> 
        <div class="card w-75 border-primary">
          <div id="item_carousel_id" class="carousel slide w-100"> 
            <div class="carousel-inner">';
              <div class="carousel-item active">
                <img src="#" class="d-block w-100" alt="item image">
              </div>
            </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#item_carousel_id" data-bs-slide="prev"> 
                <span class="fa fa-angle-left fa-2x" aria-hidden="true" style="color: black"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#item_carousel_id" data-bs-slide="next"> 
              <span class="fa fa-angle-right fa-2x" aria-hidden="true" style="color: black"></span> 
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="card-body"><form action="/auctions/' + data[i].auctionId + '" method="GET">
            <h5 class="card-title">Item Category:</h5>
              <p class="card-text">Brand:</p>
              <p>Type:</p>';
              <p class="card-text">Closing Date:</p>';
              <div class="col text-center">
                <button type="submit" class="btn btn-primary w-100">Go to Auction</button>
              </div>
            </form>
          </div>
        </div>
      </div>
</body>

</html>