<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head'); %>

  <!-- <script>
    const validateEmail = (emailValue) => {
        // Change the email add ka domain in regex 
        return emailValue.match( 
            /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        );
    }
    const createAlert = (message, type) => {
        const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
        const wrapper = document.createElement('div')
        wrapper.innerHTML = [
            `<div class="alert alert-${type} alert-dismissible" role="alert">`,
            `   <div>${message}</div>`,
            '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
            '</div>'
        ].join('')

        alertPlaceholder.append(wrapper)
    };
    const validateSignup = () => {
        const pwd = document.getElementById("floatingPassword");
        const pwdRetype = document.getElementById("floatingPasswordRetype");
        const emailId = document.getElementById("floatingEmail");
        
        if (!emailId.value || !pwd.value || !pwdRetype.value){
            createAlert("Fields cannot be empty!", "danger")
        }
        else if (!validateEmail(emailId.value)) {
            createAlert("Invalid Email type.", "danger")
        }
        else if(pwd.value != pwdRetype.value){
            createAlert("Both the passwords are not the same.", "danger")
        }
        else{
            document.getElementById('signupForm').submit()
        }
    };
</script> -->

</head>

<body>
    
    <div class="container pt-4 mt-4">
        <center><h3>Statistics</h3><p></p>
        <table class="table table-bordered" style="table-layout:fixed;">
            <thead class="thead" style="background-color: #0d6efd; color: white">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Item</th>
                <th scope="col">Total Earnings</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
              </tr>
            </tbody>
          </table>

          
        </div>
</body>
</html>